{{ define "main" }}
  {{ $pages := intersect (where .Site.RegularPages "Type" "in" (slice "weekly")) (where .Site.Pages "Params.date" "!=" nil) }}
  <p class="secondary-info">目前共 <a href="/tags/周刊/">{{ len $pages }}</a> 期周刊，可通过 <a href="/weekly/index.xml">RSS</a> 订阅</p>
  <div class="card-list">
    {{ range sort (.Paginate $pages.ByDate.Reverse 100).Pages }}
      <a href="{{ .RelPermalink }}" class="card">
        <img src={{ .Params.image | relURL }} loading="lazy" />
        <div class="flex justify-between card-title">
          <div>{{ .Title }}</div>
          <div><time style="color: darkgrey;">{{.Date.Format "2006.01.02"}}</time></div>
        </div>
        <div class="card-content">
          <p>{{ .Description }}</p>
        </div>
      </a>
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
{{ end }}
