{{ define "main" }}
<article class="markdown book-post">
  <h1>
    <a href="{{ .RelPermalink }}">{{ partial "docs/title.html" . }}</a>{{ partial "title-label" . }}
  </h1>
  {{ partial "docs/post-meta" . }}

  {{ $lastMod := .Lastmod }}
  {{ $yearsSinceLastMod := div (sub now.Unix $lastMod.Unix) (31536000) }}
  {{ if ge $yearsSinceLastMod 3 }}
    <blockquote class="book-hint danger">
      注意：此文章已超过 3 年未更新，部分信息可能已经过时。
    </blockquote>
  {{ end }}

  {{- .Content -}}
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
