/* You can override SASS variables here. */
// $container-max-width: 100rem;
$menu-width: 16rem;
$toc-width: 16rem;

.markdown img {
  margin-left: auto;
  margin-right:auto;
  display:block;
  border-radius: 8px;
}

* {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: hsla(220, 4%, 58%, 0.3);
    transition: background-color 0.3s;

    &:hover {
      background: #bbb;
    }
  }

  &::-webkit-scrollbar-track {
    background: #ededed;
  }
}
