{{ define "main" }}
{{ $pages := intersect (where .Site.RegularPages "Type" "in" (slice "docs" "posts" "weekly" "links")) (where .Site.Pages "Params.date" "!=" nil)}}
{{partial "tags-navbar" .}}
{{ range $pages.GroupByDate "2006" }}
<section>
  <h1 style="color: dimgray;" id="{{ .Key }}">{{ .Key }}</h1>
  <div class="posts">
    {{ range .Pages }}
    <div class="post">
      <p>
        <h3><time style="color: darkgrey;">{{.Date.Format "2006-01-02"}}</time>&nbsp;»&nbsp;
          {{ partial "docs-title-tree" . }}
          <a href="{{ .RelPermalink }}" {{ if eq .Type "links" }}target="_blank" rel="noopener"{{ end }}>
            {{ .Title }}
          </a>
          {{ partial "tags-label" . }}
        </h3>
      </p>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}

{{ define "toc" }}
  {{ partial "categories" . }}
{{ end }}
