{{ define "main" }}
{{ $pages := intersect (where .Site.RegularPages "Type" "in" (slice "docs" "posts" "weekly" "links")) (where .Site.Pages "Params.date" "!=" nil)}}
{{ $pages := $pages.ByLastmod.Reverse }}
{{partial "tags-navbar" .}}
<section>
  <div class="posts">
    {{ range $pages }}
    <div class="post">
      <p>
        <h3>
          <time style="color: darkgrey;">{{.Lastmod.Format "2006-01-02"}}</time>&nbsp;»&nbsp;
          {{ partial "docs-title-tree" . }}
          <a href="{{ .RelPermalink }}" {{ if eq .Type "links" }}target="_blank" rel="noopener"{{ end }}>
            {{ .Title }}
          </a>
          {{ partial "tags-label" . }}
        </h3>
      </p>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}

{{ define "toc" }}
  {{ partial "tags" . }}
{{ end }}
