{{ define "main" }}
{{ $pages := intersect (where .Site.RegularPages "Type" "in" (slice "docs" "posts" "weekly" "projects")) (where .Site.Pages "Params.date" "!=" nil)}}
<span style="color: darkgrey;">All</span> / <a href="/posts">Posts</a>

{{ range $pages.GroupByDate "2006" }}
<section>
  <h1 style="color: dimgray;" id="{{ .Key }}">{{ .Key }}</h1>
  <div class="posts">
    {{ range .Pages }}
    <div class="post">
      <p><h3><time style="color: darkgrey;">{{.Date.Format "2006-01-02"}}</time>&nbsp;»&nbsp;<a href="{{ .RelPermalink }}">
        {{ if or (not .Title) (not .Date) (not .Params.categories) (not .Params.tags) }}
          {{ .File }} <span class="danger-title">[Draft]</span>
        {{ else }}
          {{ if eq .Type "docs"}}{{ path.Base .File.Dir | title }} — {{ end }}{{ .Title }}
        {{ end }}
      </a>
      {{ if eq .Type "docs"}}
        <span class="docs-title">Doc</span>
      {{else if eq .Type "weekly"}}
        <span class="weekly-title">Weekly</span>
      {{else if eq .Type "projects"}}
        <span class="project-title">Project</span>
      {{ end }}
      {{ if in .Params.tags "ByAI" }}
        <span class="ai-title">AI</span>
      {{ end }}
      </h3></p>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}

{{ define "toc" }}
  {{ partial "docs/categories" . }}
{{ end }}
