{{ define "main" }}
  {{ partial "timeline-content" . }}
{{ end }}

{{ define "toc" }}
  {{/* 获取最新的时间线页面用于显示 TOC，排除无效日期 */}}
  {{ $allPages := where .Site.RegularPages "Type" "timeline" }}
  {{ $validPages := slice }}
  {{ range $allPages }}
    {{ $year := .Date.Format "2006" | int }}
    {{ if ge $year 2000 }}
      {{ $validPages = $validPages | append . }}
    {{ end }}
  {{ end }}
  {{ $pages := sort $validPages ".Date" "desc" }}
  {{ $latestPage := index $pages 0 }}
  {{ partial "timeline-toc" $latestPage }}
{{ end }}
