<nav>
  {{ $scratch := newScratch }}
  {{ $pages := intersect (where .Site.RegularPages "Type" "in" (slice "docs" "posts" "weekly")) (where .Site.Pages "Params.date" "!=" nil)}}

  {{ range $pages }}
    {{ $scratch.Add "wordcount" .WordCount }}
  {{ end }}
  <p style="color: dimgray;">共 {{ len $pages }} 篇，{{ $scratch.Get "wordcount" | lang.NumFmt 0 }} 字</p>
  <ul>
    {{ range $term := (slice "categories") }}
    {{ with $.Site.GetPage (printf "/%s" $term | urlize) }}
    <li class="book-section-flat">
      <ul>
        {{ range .Pages }}
        <li class="flex justify-between">
          <a href="#{{ .Title }}">{{ .Title }}</a>
          <span>{{ len (intersect .Pages $pages) }}</span>
        </li>
        {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ end }}
  </ul>
</nav>