<nav>
  {{ $scratch := newScratch }} 
  {{ $pages := where .Site.RegularPages "Type" "in" "links" }}
  {{ range $pages }} 
    {{ $scratch.Add "wordcount" .WordCount }} 
  {{ end }}
  <p style="color: dimgray">
    共 {{ len $pages }} 篇转载，通过 <a href="/links/index.xml">RSS</a> 订阅
  </p>
  <ul>
    <li class="book-section-flat">
      <ul>
        {{ range $pages.GroupByDate "2006-01" }}
          {{ $count := len .Pages }}
          {{ if gt $count 0 }}
          <li class="flex justify-between">
            <a href="#{{ .Key }}">{{ .Key }}</a>
            <span>{{ $count }}</span>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    </li>
  </ul>
</nav>