{{ if or (not .Title) (not .Date) (not .Params.categories) (not .Params.tags) }}
    {{ .File }} <span class="danger-title">Draft</span>
{{ end }}

{{ if eq .Type "docs"}}
    <span class="title-label docs-title">Doc</span>
{{else if eq .Type "weekly"}}
    <span class="title-label weekly-title"><a href="/weekly/">Weekly</a></span>
{{ end }}

{{ if in .Params.tags "推荐阅读" }}
    <span class="title-label recommended-title"><a href="/tags/推荐阅读/">Recommended</a></span>
{{ end }}

{{ if in .Params.tags "ByAI" }}
    <span class="title-label ai-title">AI</span>
{{ end }}