{{ if eq .Type "docs"}}
  <span class="title-label docs-title" aria-label="文档" data-label="Doc"><!-- Doc --></span>
{{else if eq .Type "weekly"}}
  <a href="/tags/Weekly/" class="title-label weekly-title" aria-label="周报" data-label="W"><!-- Weekly --></a>
{{ end }}
{{ if in .Params.tags "Recommended" }}
  <a href="/tags/Recommended/" class="title-label recommended-title" aria-label="推荐" data-label="R"><!-- Recommended --></a>
{{ else if in .Params.tags "ByAI" }}
  <a href="/tags/ByAI/" class="title-label byAI-title" aria-label="AI创作" data-label="ByAI"><!-- ByAI --></a>
{{ end }}