{{ define "main" }}
{{ $pages := intersect (where .Site.RegularPages "Type" "in" (slice "posts")) (where .Site.Pages "Params.date" "!=" nil)}}
  <article class="markdown book-post">
  <!-- 横向广告单元 -->
  <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-1305150098246428"
      data-ad-slot="1470129141"
      data-ad-format="auto"
      data-full-width-responsive="true"></ins>
  <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  {{ range sort (.Paginate $pages.ByDate.Reverse).Pages }}
    <h2>
      <a href="{{ .RelPermalink }}"
        >{{ if eq .Type "docs"}}{{ path.Base .File.Dir | title }} — {{ end }}{{
        .Title }}</a
      >{{ partial "title-label" . }}
    </h2>
    {{ partial "docs/post-meta" . }}
    <p>
      {{- .Plain | truncate 200 -}}
    </p>
  {{ end }}
  </article>

  {{ template "_internal/pagination.html" . }}
  <br />
  {{if .Site.Params.CopyrightHTML}}
  <footer>
    <div class="text-center">{{.Site.Params.CopyrightHTML}}</div>
  </footer>
  {{ end }}
{{ end }}

{{ define "toc" }}
  {{ partial "tags" . }}
{{ end }}
