{{ define "main" }}
  {{ $taxonomies := index .Site.Taxonomies "tags" }}
  {{ if in (slice "/tags/" "/categories/") .Page.RelPermalink }}
    <h1>{{ .Title | title }}&nbsp;<sup>{{ len $taxonomies }}</sup></h1>
    <article class="markdown">
      {{ range $taxonomies }}
        {{ $defaultSize := 12 }}
        {{ $maxSize := 100 }}
        {{ $fontSize := add .Count $defaultSize }}
        {{ $fontSize = div $fontSize 1.2 }}
        {{ if lt $fontSize $defaultSize }}{{ $fontSize = $defaultSize }}{{ end }}
        {{ if gt $fontSize $maxSize }}{{ $fontSize = $maxSize }}{{ end }}
        <a href="{{ .Page.Permalink }}" style="font-size: {{ $fontSize }}px;word-break: keep-all;">
          {{ .Page.Title }}&#8205;<sup>{{ .Count }}</sup>
        </a>&nbsp;
      {{ end }}
    </article>
  {{ else }}
    {{ $postList := .Pages.ByDate.Reverse}}
    <h1 style="color: dimgray;">{{ .Title }}&nbsp;<sup>{{ len $postList }}</sup></h1></h1>
    {{ range sort $postList }}
      <div class="post">
        <p><h3>
          <time style="color: darkgrey;">{{.Date.Format "2006-01-02"}}</time>&nbsp;»&nbsp;
          <a href="{{ .RelPermalink }}">{{ if eq .Type "docs"}}{{ path.Base .File.Dir | title }} — {{ end }}{{ .Title }}</a>
          {{ partial "tags-label" . }}
        </h3>
        </p>
      </div>
    {{ end }}
  {{ end }}
{{ end }}

{{ define "toc" }}
  {{ if in (slice "/tags/" "/categories/") .Page.RelPermalink }}
    {{ partial "categories" . }}
  {{ else if in .Page.RelPermalink "/tags/" }}
    {{ partial "tags" . }}
  {{ else if in .Page.RelPermalink "/categories/" }}
    {{ partial "categories" . }}
  {{ end }}
{{ end }}
