{{ define "main" }}
{{ $pages := where .Site.RegularPages "Type" "in" "links" }}

{{partial "tags-navbar" .}}

{{ range $pages.GroupByDate "2006-01" }}
<section>
  <h1 style="color: dimgray;" id="{{ .Key }}">{{ .Key }}</h1>
  <div class="posts">
    {{ range .Pages }}
    <div class="post">
      <p><h3><time style="color: darkgrey;">{{.Date.Format "2006-01-02"}}</time>&nbsp;»&nbsp;
        <a href="{{ .RelPermalink }}" {{ if eq .Params.redirect true }}target="_blank" rel="noopener"{{ end }}>{{ .Title }}</a>{{ partial "tags-label" . }}
      </h3>
      {{ if .Plain }}
        <p style="margin-top: 0.1rem; margin-left: 8rem; color: #6a737d; font-size: 0.9rem;">{{- .Plain | truncate 200 -}}</p>
      {{ end }}
      </p>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}

{{ define "toc" }}
  {{ partial "links-categories" . }}
{{ end }}
